body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
}

.team {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-button {
    width: 200px;
    height: 100px;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

#redButton {
    background-color: red;
    color: white;
}

#blueButton {
    background-color: blue;
    color: white;
}

.start-button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: yellow;
}

.score {
    font-size: 32px;
    margin-top: 10px;
}
